yt-dlp>=2024.8.6
pysrt>=1.1.2
python-dotenv>=1.0.0
webvtt-py>=0.5.1
deep-translator>=1.11.4
edge-tts>=6.1.12
pydub>=0.25.1
audioop-lts>=0.2.0; python_version>="3.13"
tencentcloud-sdk-python>=3.0.0
aliyun-python-sdk-core>=2.13.36
aliyun-python-sdk-alimt>=3.0.0
ormsgpack>=1.4.0
msgpack>=1.0.0
